{%extends 'index.html' %}

{% block content %}
<style>
    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #container {
        height: 400px;
    }

    .highcharts-tooltip h3 {
        margin: 0.3em 0;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

       .blue {
        background: rgb(0, 91, 144);
        color: rgb(255, 255, 255);
        /* text-transform: uppercase; */
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.7px;
    }

    th.rotate, th.rotate-region {
        /* Something you can count on */
        height: 140px;
        white-space: nowrap;
    }

    th.rotate > div {
        transform: /* Magic Numbers */ translate(113px, 93px) /* 45 is really 360 - 45 */ rotate(270deg);
        width: 30px;
        height: 215px;
    }

    th.rotate-region > div {
        transform: /* Magic Numbers */ translate(97px, 89px) /* 45 is really 360 - 45 */ rotate(270deg);
        width: 30px;
        height: 215px;
    }

    th.rotate > div > span {
        padding: 5px 10px;
    }

    .w-100{
           display: block;
    width: 100%;
        margin-bottom: 8px;
    }
</style>

<table border="1" cellpadding="12">
    <tr>
        <td class="blue" rowspan="4"></td>
    </tr>
    <tr>
        <td class="blue" colspan="6" style="text-align: center">Вразливість до загроз</td>
        <th class="rotate blue" rowspan="3">
            <div style="transform: /* Magic Numbers */ translate(100px, 94px) /* 45 is really 360 - 45 */ rotate(270deg);">
                <span>Техногенна загроза</span></div>
        </th>
    </tr>
    <tr>
        <td class="blue" colspan="2">Соціального характеру</td>
        <td class="blue" colspan="1">Економічного характеру</td>
        <td class="blue" colspan="3">Екологічного характеру</td>

    </tr>

    <tr>
        <th class="rotate blue">
            <div><span>корупція</span></div>
        </th>
        <th class="rotate blue">

            <div><span>індекс здоровля</span></div>
        </th>
        <th class="rotate blue">
            <div style="    transform: translate(153px, 93px) rotate(270deg);"><span> Економічне благополуччя</span>
            </div>

        </td>
        <th class="rotate blue">

            <div><span>змінювання клімату</span></div>
        </th>
        <th class="rotate blue">
            <div><span>забруднення повітря</span></div>
        </th>
        <th class="rotate blue">
            <div><span>водне навантаження</span></div>
        </th>
    </tr>
    {% for region , data in r.items %}
    <tr>
        <td>{{region}}</td>
        <td>{{data.Ss_r}}</td>
        <td>{{data.Ihd_r}}</td>
        <td>{{data.Iql_r}}</td>
        <td>{{data.RWE17I_r}}</td>
        <td>{{data.WTP17I_r }}</td>
        <td>{{data.LNP17I_r }}</td>
        <td>{{data.So_r}}</td>
    </tr>
    {% endfor %}


</table>
<br>
<br>
<br>
<figure class="row">
    <div class="col-md-9">
        <div id="container"></div>
    </div>
    <div class="col-md-3">
        <button class="js-btn btn btn-primary btn-success w-100" data-coef="Ss">Корупція</button>
        <button class="js-btn btn btn-primary w-100" data-coef="Ihd">Індекс здоров'я</button>
        <button class="js-btn btn btn-primary w-100" data-coef="Iql">Економічне благополуччя</button>
        <button class="js-btn btn btn-primary w-100" data-coef="RWE17I">змінювання клімату</button>
        <button class="js-btn btn btn-primary w-100" data-coef="WTP17I">забруднення повітря</button>
        <button class="js-btn btn btn-primary w-100" data-coef="So"> Tехногенна загроза</button>
    </div>
</figure>

<hr>
{% endblock content %}

{% block js %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<script>

    const BuubleChart  = {
        'init': function(){
            this.getDataClick();
            this.sendRequest('Ss' , 'Корупція');
        },
        'sendRequest': function(coef , text){
            $.ajax({
                method: 'GET',
                url: '/get-data-by-coef/',
                data: {
                    'coef': coef
                }
            }).done(function(response){
                BuubleChart.renderCharts(response.result , text)
                console.log(response.result);
            })
        },
        'getDataClick': function(){
            $('.js-btn').click(function(e){
                e.preventDefault();
                $('.js-btn').removeClass('btn-success');
                $(this).addClass('btn-success');
                const coef  = $(this).attr('data-coef');
                const text  = $(this).text();
                BuubleChart.sendRequest(coef , text);

            })
        },

        'renderCharts': function(data , title){
            Highcharts.chart('container', {

        chart: {
            type: 'bubble',
            plotBorderWidth: 1,
            zoomType: 'xy'
        },

        legend: {
            enabled: false
        },

        title: {
            text: title
        },



        accessibility: {
            point: {
                valueDescriptionFormat: '{index}. {point.name}, fat: {point.x}g, sugar: {point.y}g, obesity: {point.z}%.'
            }
        },

        xAxis: {
            gridLineWidth: 1,
            title: {
                text: 'Ступінь гармозіції'
            },
            labels: {
                format: '{value}'
            },

            accessibility: {
                rangeDescription: 'Range: 60 to 100 grams.'
            }
        },

        yAxis: {
            startOnTick: false,
            endOnTick: false,
            title: {
                text: 'Індекс сталого розвитку'
            },
            labels: {
                format: '{value}'
            },
            maxPadding: 0.2,
        },

        tooltip: {
            useHTML: true,
            headerFormat: '<table>',
            pointFormat: '<tr><th colspan="2"><h3>{point.country}</h3></th></tr>' +
                '<tr><th>Ступінь гармозіції:</th><td>{point.x}</td></tr>' +
                '<tr><th>Індекс сталого розвитку:</th><td>{point.y}</td></tr>' +
                '<tr><th>SS:</th><td>{point.z}</td></tr>',
            footerFormat: '</table>',
            followPointer: true
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },

        series: [{
            data: data
        }]
    });
        }
    }
    BuubleChart.init();

</script>
{% endblock js %}