{% extends 'index.html' %}

{% block content %}

<select class="js-year-g" name="year" id="">
    <option value="2017">2017</option>
    <option value="2018">2018</option>
</select>
<div id="container_g"></div>

<select class="js-year-isd" name="year" id="">
    <option value="2017">2017</option>
    <option value="2018">2018</option>
</select>
<div id="container_isd"></div>

 <div id="container_bublle"></div>
<style>
    .blue {
        background: rgb(0, 91, 144);
        color: rgb(255, 255, 255);
        /* text-transform: uppercase; */
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.7px;
    }

    th.rotate, th.rotate-region {
        /* Something you can count on */
        height: 140px;
        white-space: nowrap;
    }

    th.rotate > div {
        transform: /* Magic Numbers */ translate(113px, 93px) /* 45 is really 360 - 45 */ rotate(270deg);
        width: 30px;
        height: 215px;
    }

    th.rotate-region > div {
        transform: /* Magic Numbers */ translate(97px, 89px) /* 45 is really 360 - 45 */ rotate(270deg);
        width: 30px;
        height: 215px;
    }

    th.rotate > div > span {
        padding: 5px 10px;
    }
</style>

<table border="1" cellpadding="12">
    <tr>
        <td class="blue" rowspan="4"></td>
    </tr>
    <tr>
        <td class="blue" colspan="6" style="text-align: center">Вразливість до загроз</td>
        <th class="rotate blue" rowspan="3">
            <div style="transform: /* Magic Numbers */ translate(100px, 94px) /* 45 is really 360 - 45 */ rotate(270deg);">
                <span>Техногенна загроза</span></div>
        </th>
    </tr>
    <tr>
        <td class="blue" colspan="2">Соціального характеру</td>
        <td class="blue" colspan="1">Економічного характеру</td>
        <td class="blue" colspan="3">Екологічного характеру</td>

    </tr>

    <tr>
        <th class="rotate blue">
            <div><span>корупція</span></div>
        </th>
        <th class="rotate blue">

            <div><span>індекс здоровля</span></div>
        </th>
        <th class="rotate blue">
            <div style="    transform: translate(153px, 93px) rotate(270deg);"><span> Економічне благополуччя</span>
            </div>

        </td>
        <th class="rotate blue">

            <div><span>змінювання клімату</span></div>
        </th>
        <th class="rotate blue">
            <div><span>забруднення повітря</span></div>
        </th>
        <th class="rotate blue">
            <div><span>водне навантаження</span></div>
        </th>
    </tr>

    <tr>
        <td>Індекс сталого розвитку</td>
        <td>{{result_isd.r_Ss}}</td>
        <td>{{result_isd.r_Ihd}}</td>
        <td>{{result_isd.r_Iql}}</td>
        <td>{{result_isd.r_RWE17I}}</td>
        <td>{{result_isd.r_WTP17I}}</td>
        <td>{{result_isd.r_LNP17I }}</td>
        <td>{{result_isd.r_So}}</td>
    </tr>

    <tr>
        <td>Ступінь гармонізації</td>
        <td>{{ result_g.r_Ss }}</td>
        <td>{{ result_g.r_Ihd }}</td>
        <td>{{ result_g.r_Iql }}</td>
        <td>{{ result_g.r_RWE17I }}</td>
        <td>{{ result_g.r_WTP17I }}</td>
        <td>{{ result_g.r_LNP17I }}</td>
        <td>{{ result_g.r_So }}</td>
    </tr>


</table>

<hr>


{% endblock content %}


{% block long_table %}
<table border="1" cellpadding="3">
    <tr>
        <td colspan="1"></td>
        <td colspan="25" style="text-align: center">Region</td>
    </tr>

    <tr>
        <td></td>
        {% for r in regions %}
        <th class="rotate-region blue">
            <div><span>{{r}}</span></div>
        </th>
        {% endfor %}
    </tr>
    <tr>
        <td>Індекс сталого розвитку</td>
        {% for k , v in w.items %}
        <td>{{v.isd}}</td>
        {% endfor %}
    </tr>

    <tr>
        <td>Ступінь гармонізації</td>
        {% for k , v in w.items %}
        <td>{{v.g}}</td>
        {% endfor %}
    </tr>

</table>

<br>
<br>
<br>
<br>
<br>
<br>

{% endblock long_table %}


{% block js %}
<script>
    const Chart = {

        'get_data_by_g': function () {
            const year = Chart.getYear('select.js-year-g');
            $.ajax({
                method: 'GET',
                url: '/get_data_by_chart_garmonizacii/',
                data: year
            }).done(function (response) {
                const regions = response.regions;
                let keys = [], values = [];
                regions.forEach(function (elem) {
                    let key = Object.keys(elem)[0];
                    keys.push(key)
                    values.push(parseFloat(elem[key]));
                })
                Chart.renderChart(keys, values, 'container_g', 'select.js-year-g', 'Ступінь гармонізації');
            });
        },
        'get_data_by_isd': function () {
            const year = Chart.getYear('select.js-year-isd');
            $.ajax({
                method: 'GET',
                url: '/get_data_by_chart_isd/',
                data: year
            }).done(function (response) {
                const regions = response.regions;
                let keys = [], values = [];
                regions.forEach(function (elem) {
                    let key = Object.keys(elem)[0];
                    keys.push(key)
                    values.push(parseFloat(elem[key]));
                })
                Chart.renderChart(keys, values, 'container_isd', 'select.js-year-isd', 'Індекс сталого розвитку');
                console.log(response);
            })
        },

        'init': function () {
            this.get_data_by_g();
            this.get_data_by_isd();


        },
        'getYear': function (selector) {
            return {
                'year': $(selector).val()
            }
        },
        'listenerChange': function () {
            $('select.js-year-g').on('change', Chart.get_data_by_g);
            $('select.js-year-isd').on('change', Chart.get_data_by_isd);
        },
        'renderChart': function (x_axis, y_axis, container_id, selector_year, title) {
            let chart = Highcharts.chart(container_id, {
                chart: {
                    type: 'column'
                },
                title: {
                    text: `${title} за період ${this.getYear(selector_year)['year']}`
                },
                xAxis: {
                    categories: x_axis,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Значення'
                    }
                },
                tooltip: {
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: title,
                    data: y_axis
                }]
            });
        }
    }

    Chart.init();
    Chart.listenerChange();
</script>

{% endblock js %}