{% extends 'index.html' %}

{% block content %}
{% regroup datas by select_region as data_list %}
<style>
    .legend {
        position: relative;
    }

    .legend span {
        position: absolute;
        top: -7px;
        left: -17px;
        color: rgb(255, 124, 124);
        font-size: 32px;
    }

    .none {
        opacity: 0;
    }
</style>
<div class="legend">
    <span>*</span>
    <p><b>ISD</b> - Індекс сталого розвитку</p>
</div>
<div class="legend">
    <span>*</span>
    <p><b>G</b> - Ступінь гармонізації</p>
</div>

<div>
    <form action="">
        <select name="region" id="">
            <option value="">Всі</option>
            {% for reg in region %}

            <option value="{{reg}}" {% if search.region == reg %}selected{% endif %}>{{reg}}</option>
            {% endfor %}
        </select>

        <select name="year" id="">
            <option value="">Всі</option>

            <option value="2017"{% if search.year == "2017" %}selected{% endif %}>2017</option>
            <option value="2018" {% if search.year == "2018" %}selected{% endif %}>2018</option>
        </select>
        <input type="submit" value="Завантажити">
    </form>


</div>

{% load poll_extras %}
<table class="table table-hover">
    <tr>
        <th>Регіон</th>
        <th>Рік</th>
        <th>Данні (<b>ISD</b> , <b>G</b>)</th>
    </tr>
    {% for data in data_list %}
    {% if data.list|length != 1 %}
    {% for d in data.list %}

        {% if forloop.counter == 1 %}
        <tr data-region="{{ data.grouper }}" data-year="{{ d.year }}" class="js-row">
            <td rowspan="2" data-region="{{ data.grouper }}" data-year="{{ d.year }}">{{ data.grouper }}</td>
            <td data-region="{{ data.grouper }}" data-year="{{ d.year }}">{{d.year}}</td>
            <td data-region="{{ data.grouper }}" data-year="{{ d.year }}"><b>ISD</b>  {{d.isd | value_}} <br>
                <b>G</b>  {{d.g|floatformat:4}}
            </td>
        </tr>
        {% else %}
        <tr class="js-row">
            <td data-region="{{ data.grouper }}" data-year="{{ d.year }}">{{d.year}}</td>
            <td data-region="{{ data.grouper }}" data-year="{{ d.year }}"><b>ISD</b>  {{d.isd | value_}} <br>
                <div><b>G</b>  {{d.g|floatformat:4}}</div>
            </td>
        </tr>
        {% endif %}
    {% endfor %}

    {% else %}
    {% for d in data.list %}
     <tr class="js-row">
         <td>{{ data.grouper }}</td>
            <td data-region="{{ data.grouper }}" data-year="{{ d.year }}">{{d.year}}</td>
            <td data-region="{{ data.grouper }}" data-year="{{ d.year }}"><b>ISD</b> - {{d.isd | value_}} <br>
                <div><b>G</b> - {{d.g}}!!!!!</div>
            </td>
        </tr>
    {% endfor %}

    {% endif %}
    {% endfor %}
</table>


{% endblock content %}

{% block js %}
<script>

</script>

{% endblock js %}