{% extends 'index.html' %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <input type="file" name="file">
    <button class="btn btn-primary">Завантажити</button>
</form>

{% if result %}
<div class="row">
    <div class="offset-md-9">
        <form action="/save-data/" method="post"> {% csrf_token %}
            <input type="hidden" name="data" value="[{{result}}]">
        <button class="btn btn-success">Зберегти та експортувати в файл</button>
    </form>
    </div>
</div>
{% endif %}
<table class="table table-hover">
    <tr>
        <th>Регіон</th>
        <th>Рік</th>
        <th>Данні (<b>ISD</b> , <b>G</b>)</th>
    </tr>
    {% for region , value in result.items %}
    {% for year , data in value.items %}
    {% if forloop.counter == 1 %}
    <tr>
        <td rowspan="2">{{region}}</td>
        <td>{{ year }}</td>
        <td><b>ISD</b> {{ data.ISD }} <br> <b>G</b> - {{ data.g }}</td>
    </tr>
    {% else %}
    <td>{{year}}</td>
    <td><b>ISD</b> - {{data.ISD}} <br>
        <div><b>G</b> - {{data.g}}</div>
    </td>
    {% endif %}
    {% endfor %}
    {% endfor %}
</table>

<hr>

{% endblock content %}