<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Отрмати данні за регіоном</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history-download/">История загрузок файла</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data-by-region/">Данные по региону</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/export-data/">Завантажити файл</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chart-garmonizacii/">Графік ступені гармонізації</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/charts-bublle/">charts-bublle/</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Графіки
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>