{%extends 'index.html' %}


{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Файл</th>
        <th scope="col">Регіон</th>
        <th scope="col">Дата завантаження</th>
    </tr>
    </thead>
    <tbody>

    {% for f in files %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="/media/{{ f.file }}"> {{ f.file.name }}</a></td>
        <td>{{f.select_region}}</td>
        <td>{{ f.create_at }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock content %}

{% block js %}
<script>

</script>
{% endblock js %}