{% extends 'index.html' %}


{% block content %}
<h1>Отримати данні за регіоном</h1>

<form action="." method="post" class="row" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group col-md-2">
        <label for="exampleFormControlFile1">Завантажте файл</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file" required>
    </div>
    <div class="form-group col-md-3">
        <label for="exampleFormControlFile1">Виберіть регіон</label>

        <select class="form-control" name="region" id="">
            {% for reg in regions %}
            <option value="{{reg}}">{{reg}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleFormControlFile1">&nbsp;</label>
            <button class="btn btn-primary form-control">Відправити</button>
        </div>
    </div>
</form>


<table class="table table-hover">
    <tbody>
    <tr>
        <th>Регіон</th>
        <th>Рік</th>
        <th>Данні (<b>ISD</b> , <b>G</b>)</th>
    </tr>


    <tr data-region="None" data-year="" class="js-row">
        <td rowspan="2" data-region="None" data-year="">{{result.2017.region_name}}</td>
        <td data-region="None" data-year="">2017</td>
        <td data-region="None" data-year=""><b>ISD</b> {{result.2017.Isd}} <br>
            <b>G</b>  {{result.2017.G}}
        </td>
    </tr>


    <tr class="js-row">
        <td data-region="None" data-year="">2018</td>
        <td data-region="None" data-year=""><b>ISD</b> {{result.2018.Isd}} <br>
            <div><b>G</b> {{result.2018.G}}</div>
        </td>
    </tr>


    </tbody>
</table>
{% endblock content %}